*.o
trace-cmd
*.so
*.a
*.dat
*.patch
.*.d
*~
kernelshark
trace-graph
trace-view
*.pyc
*.swp
tc_version.h
ks_version.h
ctracecmd_wrap.c
ctracecmdgui_wrap.c
tags
TAGS
cscope*
trace_plugin_dir
trace_python_dir
