*.o
*.so
*.a
*.dat
*.data
*.patch
.*.d
*.orig
*.rej
.pc
*~
*.pyc
*.swp
\#*\#
patches/
tc_version.h
ks_version.h
ctracecmd_wrap.c
ctracecmdgui_wrap.c
tags
TAGS
cscope*
traceevent_plugin_dir
trace_python_dir
tracecmd_plugin_dir
libtracecmd.pc
