prefix=INSTALL_PREFIX
libdir=LIB_DIR
includedir=HEADER_DIR

Name: libtracecmd
URL: https://git.kernel.org/pub/scm/utils/trace-cmd/trace-cmd.git/
Description: Library for creating and reading trace-cmd data files
Version: LIB_VERSION
Cflags: -I${includedir}
Libs: -L${libdir} -ltracecmd
